{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-light">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Order</h1>


        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Add New Product</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Product Name</th>
                <th scope="col">Decription</th>
                <th scope="col">Date</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for product in Products %}
            <tr>
                <td>{{  product.title }}</td>
                <td>{{  product.description }}</td>
                <td>{{ product.date }}</td>
                <td> <button type="button" class="btn btn-sm btn-outline-primary">Update</button>
                    <button type="button" href="{% url 'delete' product.id %}"
                        class="btn btn-sm btn-outline-warning">Delete</button></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}