<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 
  <script src={% static 'js/script.js'%}></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <title>Edea | Store</title>
</head>

<body>
  {% block nav %}
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#" aria-label="EDEA">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
          viewBox="0 0 24 24" focusable="false">
          <title>EDEA | STORE</title>
          <circle cx="12" cy="12" r="10" />
          <path
            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
        </svg>
      </a>
      {% block nav-store %} <a class="py-2 d-none d-md-inline-block" href="{% url 'store' %}">Store</a>{% endblock %}
      {% block nav-product %} <a class="py-2 d-none d-md-inline-block"
        href="{% url 'dashboard' %}">Inventory</a>{% endblock %}
      {% block nav-order %}<a class="py-2 d-none d-md-inline-block" href="{% url 'order' %}">Orders</a>{% endblock %}
      {% block nav-ship %}<a class="py-2 d-none d-md-inline-block" href="{% url 'ship' %}">Ship</a>{% endblock %}
      {% block nav-vendor %}<a class="py-2 d-none d-md-inline-block" href="{% url 'vendor' %}">Vendor</a>{% endblock %}
      {% block nav-customer %}<a class="py-2 d-none d-md-inline-block"
        href="{% url 'customer' %}">Customer</a>{% endblock %}
      {% block nav-accounting %}<a class="py-2 d-none d-md-inline-block"
        href="{% url 'accounting' %}">Accounting</a>{% endblock %}
        {% block nav-analysis %}<a class="py-2 d-none d-md-inline-block"
        href="{% url 'analysis' %}">Analysis</a>{% endblock %}
    </div>
  </nav>
  {% endblock %}


  {% block content %}


  {% endblock content %}


  <footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
          viewBox="0 0 24 24" focusable="false">
          <title>Product</title>
          <circle cx="12" cy="12" r="10" />
          <path
            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
        </svg>
        <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
      </div>
     
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
</body>

</html>